header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: rgba(0, 0, 0, 0.1) 1px solid;
  margin: 0;
}

section {
  display: block;
  margin: 2rem 0;
}

hr {
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  height: 1px;
}

p {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1rem;
  color: #000;
}

.filter-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  i {
    transition: transform 0.3s ease;
  }

  &.expanded {
    i {
      transform: rotate(180deg);
    }
  }

  span {
    font-size: 1.25rem;
    font-weight: bold;
    color: #000;
  }
  p {
    display: block;
    font-size: 0.75rem;
  }
}

.filter-content {
  display: none;
  overflow: hidden;
  transition: display 0.3s ease-in;

  &.expanded {
    display: block;
  }
}
