:host {
  .hero-image {
    width: 100%;
    height: 100vh;
    border-radius: 20px;
    object-fit: cover;
    object-position: top;
  }
  main {
    position: absolute;
    top: 50%;
    left: 10rem;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;

    @media (max-width: 768px) {
      left: 2rem;
    }
  }
}
