

:host ::ng-deep {
  .p-tablist-tab-list{
    justify-content: space-between;

    .p-tab{
      flex-grow: 1 !important;
      text-align: center !important;
    }
  }
}

.rating-container{
  display: flex;
  flex-direction: column;
  gap: 1rem;

  header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
  }

  .ratings-grid{
    display: grid;
    grid-template-columns: repeat(2, [col] 50%);
    gap: 1rem;

    @media (max-width: 600px  ) {
      grid-template-columns: repeat(1, [col] 100%);
      
    }
  }

  .all-reviews-btn{
    margin: 2rem 0;
    align-self: center;
  }
}