<div class="footer-overlay">
  <h1>Stay Up To Date About Our Latest Deals</h1>
  <div class="subscription-form">
    <input type="email" placeholder="Enter your email" />
    <app-button label="Subscribe to Newsletter" width="350px" color="#fff"></app-button>
  </div>
</div>

<div class="footer">
    <div class="footer-sections">
      <div class="section">
        <img src="SHOP.CO.svg" alt="Shop.co Logo" class="footer-logo" />
        <p>
          Shop.co is your one-stop shop for all your shopping needs. We offer a wide range of
          products at unbeatable prices.
        </p>
      </div>

      <div class="section">
        <h3>Company</h3>
        <a href="#">About Us</a>
        <a href="#">Contact</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Terms of Service</a>
      </div>

      <div class="section">
        <h3>Help</h3>
        <a href="#">About Us</a>
        <a href="#">Contact</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Terms of Service</a>
      </div>

      <div class="section">
        <h3>FAQ</h3>
        <a href="#">About Us</a>
        <a href="#">Contact</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Terms of Service</a>
      </div>

      <div class="section">
        <h3>Resources</h3>
        <a href="#">About Us</a>
        <a href="#">Contact</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Terms of Service</a>
      </div>
    </div>
    <hr class="divider" />
    <p>Shop.co &copy; 2000 - 2024, All rights reserved.</p>
</div>
