.categories-container {
  width: 80%;
  text-align: center;
  margin: 2rem auto;
  background-color: #f0f0f0;
  padding: 2rem;
  border-radius: 40px;

  h1 {
    font-size: 2.5rem;
    font-weight: 900;
    color: #000;
  }
}

.categories-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 4rem auto;
  gap: 2rem;
}

.category-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
   transition: transform 0.3s ease;
  &:hover {
    transform: scale(1.05);
  }
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 
}

h2 {
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: #000;
  margin: 0;
  z-index: 1;
}
