.products-grid {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;

  margin: 0 0;
  margin-bottom: 4rem;
  gap: 2rem;
  padding-bottom: 1rem; // Space for scrollbar
  scroll-behavior: smooth; // Smooth scrolling experience

  // Add left margin to first child element
  & > :first-child {
    margin-left: 4rem;
  }

  // Add right margin to last child element
  & > :last-child {
    margin-right: 4rem;
  }

  // Hide scrollbar for cleaner look (optional)
  &::-webkit-scrollbar {
    height: 0px;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;

    &:hover {
      background: #555;
    }
  }
}

.featured-products-container {
  text-align: center;
  margin: 5rem auto;
}

hr{
  width: 70%; 
  margin-top: 5rem; 
  background-color: red
}