:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.footer {
  text-align: start;
  padding: 2rem;
  padding-top: 100px;
  width: 100%;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-sections {
  display: grid;
  width: 80%;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  justify-content: space-between;
  align-items: end;
  gap: 5rem;
  margin: 0 auto;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

a {
  text-decoration: none;
  color: #000;

  &:hover {
    text-decoration: underline;
  }

}
.divider {
  margin: 1rem 0;
  height: 1px;
  background-color: #000;
  width: 100%;
  color: #000;
}

.footer-overlay {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  padding: 2.5rem 0;
  background-color: #000;
  color: #fff;
  border-radius: 20px;
  margin-bottom: -70px;

  h1 {
    font-size: 2rem;
    font-weight: 700;
    max-width: 400px;
    margin: 1rem auto;
  }

  .subscription-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem auto;

    input {
      padding: 1rem 1.5rem;
      border: none;
      border-radius: 60px;
      font-size: 1rem;
    }
  }
}
