.feedback-container{
  width: 400px;
  padding: 1.5rem;
  border-radius: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.feedback-rating{
  margin: 0.5rem 0;
}

.feedback-author{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;

  h3{
    font-size: 1.2rem;
    font-weight: 700;
    color: #333;
    margin: 0;
  }

  i{
    color: #4caf50;
    font-size: 1.2rem;
  }
}