<div class="page">
  <p-breadcrumb [model]="items" [home]="home" />
  <div class="product-container">
    <div class="product-image">
      <img [src]="productItem().image" alt="Product Image" />
    </div>
    <div class="product-details">
      <h1>{{ productItem().title }}</h1>

      <div class="product-rating">
        <p-rating [ngModel]="productItem().rating?.rate" [readonly]="true" />
      </div>

      <div class="product-price">
        <p class="new-price">${{ newPrice() | number: '1.2-2' }}</p>
        <p class="old-price">${{ productItem().price }}</p>
        <p class="discount">-{{ discountPercentage() }}%</p>
      </div>
      <p class="description">{{ productItem().description }}</p>

      <hr class="divider" />

      <app-color-selector />

      <hr class="divider" />

      <app-size-selector />

      <hr class="divider" />

      <div class="actions">
        <div class="quantity-selector">
          <button (click)="onDecreaseCartAmount()">
            <i class="pi pi-minus"></i>
          </button>
          <span>{{ cartAmount() }}</span>
          <button (click)="onIncreaseCartAmount()">
            <i class="pi pi-plus"></i>
          </button>
        </div>
        <app-button label="Add to Cart" width="100%" class="add-to-cart-btn"></app-button>
      </div>
    </div>
  </div>

  <app-tab-bar />

  <div class="related-products-section">
    <app-featured-products
      [title]="'Related Products'"
      [items]="relatedProducts()"
      [isLoading]="isLoading()"
    >
    </app-featured-products>
  </div>
</div>
