.profile-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 80%;
  margin: 2rem auto;

  .profile-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    background-color: #f0f0f0;
    padding: 2rem;
    border-radius: 20px;
    justify-content: start;
    align-items: start;

    // Make h3 take full width and display as block
    h2 {
      flex-basis: 100%;
      width: 100%;
    }
  }

  .radio-group {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    align-self: flex-end;
    padding-bottom: 1rem;
    gap: 1rem;
        width: 400px;


    .radio-item {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;

      input[type='radio'] {
        width: 30px;
        height: 20px;
        margin-right: 0.1rem;
      }

      label {
        font-size: 1rem;
        color: #000;
      }
    }
  }

  .form-field {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 400px;

    label {
      font-size: 1rem;
      font-weight: bold;
      color: #000;
    }

    input {
      padding: 1rem 1rem;
      border: 1px solid #ccc;
      border-radius: 10px;
      font-size: 1rem;
      outline: none;
      transition: border-color 0.3s ease;

      &:focus {
        border-color: #007bff;
      }
    }
  }
}
