.hero-container {
  width: 100%;
  overflow: hidden;
}

.hero-image {
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: top;
  height: 41.438rem;
}

hr {
  height: 4rem;
}

.hero-body {
  position: absolute;
  top: 12.5rem;
  left: 6.25rem;
  color: white;
  width: 30%;
  margin: 0;

  h1 {
    margin: 0;
    font-size: clamp(2rem, 4vw, 4rem);
    color: black;
    margin-bottom: 1rem;
  }
  .stat-number {
    font-size: clamp(1rem, 1.5vw, 2rem);
    font-weight: bold;
  }
  p,
  .stat-label {
    margin: 0;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    color: black;
    margin-bottom: 1rem;
  }

  .hero-statistics {
    display: flex;
    flex-direction: row;
    margin-top: 1.5rem;
    color: black;
          gap: 1rem;

  }

  .stat-item {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0;
    
  }
}

@media (max-width: 1550px) {
  .hero-body {
    margin: 0 auto;
    top: 9rem;
    left: 5rem;
  }
}

@media (max-width: 700px) {
  .hero-body {
    width: 90%;
    margin: 4rem auto;
    top: 6rem;
    left: 1rem;
  }
}
