.hero-container {
  width: 100%;
  overflow: hidden;
}

.hero-image {
    display:  block;
  width: 100%;
  object-fit: cover;
  object-position: top;
  height: 41.438rem;
}

hr {
  height: 4rem;
}

.hero-body {
  position: absolute;
  top: 12.5rem;
  left: 6.25rem;
  color: white;
  width: 30%;

  h1 {
    margin: 0;
    font-size: 4rem;
    color: black;
    margin-bottom: 1rem;
  }
  .stat-number {
    font-size: 2rem;
    font-weight: bold;
  }
  p,
  .stat-label {
    margin: 0;
    font-size: 1rem;
    color: black;
    margin-bottom: 1rem;
  }

  .hero-statistics {
    display: flex;
    flex-direction: row;
    margin-top: 1.5rem;
    color: black;
  }

  .stat-item {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-right: 1.5rem;
  }
}

@media (max-width: 1500px) {
  .hero-body {
    margin: 0 auto;
    top: 12.5rem;
    left: 6.25rem;

    .stat-number {
      font-size: 1rem;
    }

    h1 {
      font-size: 3rem;
      font-weight: bolder;
    }

    p,
    .stat-label {
      font-size: 0.875rem;
    }
  }
}

@media (max-width: 700px) {
  .hero-body {
    width: 90%;
    margin: 0 auto;
    top: 6rem;
    left: 1rem;

    .stat-number {
      font-size: 1rem;
    }

    h1 {
      font-size: 1rem;
      font-weight: bolder;
    }

    p,
    .stat-label {
      font-size: 0.875rem;
    }
  }
}

