.brands-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
    margin: 0 auto;
    align-items: center;
    padding: 1.25rem 0;
    background-color: #000;

    img{
        margin: 0 15px;
        filter: brightness(0) invert(1);
    }
}