.page {
  width: 80%;
  margin: 2rem auto;
}

.cart {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.cart-container {
  border: 2px solid #f0f0f0;
  border-radius: 20px;
  padding: 1rem;
  flex: 2;
}

.cart-summary {
  flex: 1;
  margin-left: 2rem;
  border: 2px solid #f0f0f0;
  border-radius: 20px;
  padding: 1rem;
}
