.product-item-container{
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 1rem;
  gap: 0.5rem;
  cursor: pointer;
}

img {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  object-fit: contain;
}

i{
  color: #000;
  font-size: 1.5rem;
}

h3 {
  display: block;
  text-align: start;
  font-size: 1.25rem;
  color: #000;
  margin: 0;
}

p {
  display: block;
  text-align: start;
  margin: 0;
  font-size: 1rem;
  color: #000;
} 

.price{
  font-weight: bold;
  color: #000;
}