.cart-item {
  display: flex;
  align-items: start;
  justify-content: start;
  padding: 1rem;
  border-bottom: 1px solid #ccc;

  .cart-item-image {
    width: 124px;
    height: 124px;
    margin-right: 1rem;
    background-color: #f0f0f0;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 20px;

    img {
      width: 80%;
      height: 80%;
      object-fit: cover;
    }
  }

  .cart-item-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;

    h3 {
      font-size: 1.25rem;
      font-weight: bold;
      color: #000;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    i {
      font-size: 1.25rem;
      color: red;
      cursor: pointer;
      transition: color 0.3s ease;

      &:hover {
        color: #000;
      }
    }
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .quantity-selector {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
      border-radius: 20px;
      padding: 0.5rem 1rem;
      font-size: 1rem;
      color: #000;
      background-color: #f0f0f0;
      font-weight: 900;

      button {
        background-color: transparent;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
      }
    }
  }
}
