.page {
  width: 80%;
  margin: 2rem auto;
}

.product-image {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: contain;
  background-color: #f0eeed;
  padding: 1rem;

  img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: contain;
  }
}

.product-price {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;

  p {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
    margin: 0;

    &.old-price {
      text-decoration: line-through;
      color: #888;
      font-weight: bold;
    }
  }

  .discount {
    background-color: #fdbfbf;
    border: none;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: #ff3333;
    font-weight: 900;
  }
}

.product-container {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  margin: 2rem auto;
  gap: 2rem;
}

.actions{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 1.5rem;

  .quantity-selector{
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: #000;
    background-color: #F0F0F0;
    font-weight: 900;

    button{
      background-color: transparent;
      border: none;
      font-size: 1.5rem;
      cursor: pointer;
    }
  }
  .add-to-cart-btn{
      flex: 3;
    }
}

.divider {
  margin: 1rem 0;
  height: 1px;
  background-color: #000;
  opacity: 0.3;
  width: 100%;
  color: #000;
}


